---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=,%20205&key=AIzaSyCjeq_oQZyC4N8z1D8PVBjDcAE9rfJYrUQ&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "625",
                       "short_name" : "625",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "South Mill Road",
                       "short_name" : "S Mill Rd",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Leon",
                       "short_name" : "Leon",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Li[...]
